@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral-0: #fff;
  --neutral-100: #fafafa;
  --neutral-300: #c4c4c4;
  --neutral-400: #b2b2b2;
  --neutral-500: #848484;
  --blue-700: #2b3844;
  --blue-800: #202c36;
  --blue-900: #111517;
}
